.bgCardMainContainerStyle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.cardContentWrapperStyle {
  min-width: 150px;
  max-width: 150px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 13px 0;
}
.cardContentInnerWrapperStyle {
  width: 98%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 13px 0;
}
.cardContentTextStyle {
  font-size: 26px;
  line-height: 32px;
  color: #ffb71c;
  text-align: center;
}

.numberBg{
  color:white
}

@media screen and (max-width:428px){

  
}
