* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navMainContainerStyle {
  position: relative;
  width: 100%;
}
.header {
  height: 80px;
  background-color: rgba(52, 52, 52, 0.7);
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
}

.header img {
  padding-left: 50px;
  width: 300px;
}

.links {
  display: flex;
}
.links li {
  padding: 0px 25px;
  list-style-type: none;
  font-family: "Exo-light", sans-serif;
}
.links a {
  color: white;
  text-decoration: none;
}

.links li:hover {
  color: yellow;
  transition: 1s ease-in-out;
}

.hamburger {
  display: none;
}
.links2 {
  display: none;
}
@media screen and (max-width: 428px) {
  .links {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .header img {
    padding-left: 10px;
    width: 250px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .mobileLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: rgba(52, 52, 52, 0.7);
    align-items: center;
    margin-top: 80px;
    z-index: 5;
    position: fixed;
  }

  .mobileLinks li {
    padding: 20px 10px;
    list-style-type: none;
    color: white;
    font-size: 25px;
  }
}


@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .header img {
    padding-left: 10px;
    width: 250px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .mobileLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: rgba(52, 52, 52, 0.7);
    align-items: center;
    margin-top: 80px;
    z-index: 5;
    position: fixed;
  }

  .mobileLinks li {
    padding: 20px 10px;
    list-style-type: none;
    color: white;
    font-size: 25px;
  }
}
