@font-face {
  font-family: "Exo-light";
  src: url(./assets/fonts/Exo2-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Exo-Medium";
  src: url(./assets/fonts/Exo2-Medium.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Exo-Regular";
  src: url(./assets/fonts/Exo2-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Exo-SemiBold";
  src: url(./assets/fonts/Exo2-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Exo-Bold";
  src: url(./assets/fonts/Exo2-Bold.ttf);
  font-weight: 700;
}
